header {
    height: 60px;
    border-bottom: 1px solid #eee; 
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    padding-top: 180px;
}

ul {
    list-style: none;
}

.brand {
    top: 0;
    background-color: white;
    justify-content: center;
    padding: 10px 0;
}

.mainNavegation {
    background-color: white;
    z-index: 1000;
    width: 100%;
    padding: 10px 0;
}
